@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: 0% 50% no-repeat url('../img/mdex-login-key.png'), #111111 !important;
  background-size: min(720px, 40%);
}

@media (max-width: 769px) {
  body {
    background: #111111 !important;
  }
}

a {
  font-family: 'League Spartan', sans-serif !important;
  color: #ff6740 !important;
  font-size: 1rem;
}

a:hover {
  color: #e6613e !important;
  text-decoration: underline;
  outline: none;
}

a:focus {
  outline: none;
}

#kc-header-wrapper {
  margin: 1.5rem 0;
  padding: 0;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#kc-page-title {
  font-family: 'League Spartan', sans-serif !important;
  color: #fff;
  font-weight: 600 !important;
  margin: 1rem 0;
}

.kc-logo-text {
  background: url('https://mangadex.org/favicon.svg') center !important;
  background-repeat: no-repeat !important;
  height: 100%;
}

.card-pf {
  position: relative;
  background: #212328;
  border-color: #ff6740;
  border-radius: 4px;
}

.card-pf::before {
  pointer-events: none;
  content: ' ';
  border-radius: 4px;
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 12px);
  top: -10px;
  left: 0;
  border: solid 6px #111111 !important;
}

.form-group label {
  font-family: 'League Spartan', sans-serif !important;
  color: #fff;
  font-size: 1rem;
}

.form-group input {
  background: #3d414a;
  border: none;
  border-radius: 4px;
  outline: solid 2px transparent;
  color: #fff;
  font-family: 'League Spartan', sans-serif !important;

  transition: outline 0.2s ease-out;
}

.form-group input:focus {
  outline: solid 2px #bc553b;
}

#kc-login {
  background: #ff6740;
  font-family: 'League Spartan', sans-serif !important;
  font-weight: 600;
  font-size: 1rem;

  transition: background 0.1s ease-out;
}

#kc-login:hover {
  background: #e6613e;
}

#kc-login[disabled] {
  background: #b6482b !important;
  color: #b9b9b9;
}

.kc-logo-text {
  display: flex !important;
  justify-content: center !important;
  background: none !important;
  position: relative !important;
  height: 100% !important;
}

#md-logo {
  display: block;
  height: 100%;
  width: 4rem;
  background: url('https://mangadex.org/favicon.svg') center;
  background-repeat: no-repeat;
}

#md-wordmark {
  margin: auto 0.5rem;
  display: inline-block;
  font-family: 'League Spartan', sans-serif !important;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1em !important;
  text-transform: none !important;
  letter-spacing: 0;
  text-align: center;
  color: #eeeeee;
}

#kc-info-wrapper {
  background: #2e2f37;
  font-family: 'League Spartan', sans-serif !important;
  color: #b2b2b2;
  line-height: 1.3em;
  font-size: 1rem;
}

input[type='checkbox'] {
  accent-color: #ff6740 !important;
  outline: none;
}

input[type='submit'] {
  background-color: #ff6740 !important;
  font-family: 'League Spartan', sans-serif !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  border-radius: 4px !important;

  transition: background 0.1s ease-out;
}

input[type='submit']:hover {
  background-color: #e6613e !important;
}

button {
  background-color: #2c2c2c;
  font-family: 'League Spartan', sans-serif !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
}

label {
  font-family: 'League Spartan', sans-serif !important;
}

.checkbox label {
  user-select: none;
}

#kc-form-buttons input {
  background: #ff6740;
  font-family: 'League Spartan', sans-serif !important;
  font-weight: 600;
  font-size: 1rem;

  transition: background 0.1s ease-out;
}

#kc-form-buttons input:hover {
  background: #e6613e;
}

.pf-c-form-control[aria-invalid='true'] {
  background: #6c3c3c;
}

.required {
  color: #ff5e42;
  font-family: 'League Spartan', sans-serif !important;
  font-size: 1rem;
}

#kc-error-message p {
  font-family: 'League Spartan', sans-serif !important;
  color: #9b9b9b !important;
  line-height: 1.3em;
  font-size: 1rem;
}

.alert-success {
  background: #203020;
  font-family: 'League Spartan', sans-serif !important;
}

.alert-success > span {
  font-size: 1rem;
  line-height: 1.2em;
  color: #d1d1d1;
}

.alert-error {
  background: #302020;
  font-family: 'League Spartan', sans-serif !important;
}

.alert-error > span {
  font-size: 1rem;
  line-height: 1.2em;
  color: #d1d1d1;
}

.select-auth-box-parent {
  font-family: 'League Spartan', sans-serif !important;
  border-color: #5e606b;
}

.select-auth-box-parent:hover {
  background: #2e2f37;
}

.select-auth-box-headline {
  color: #ff6740 !important;
}

.fa {
  color: #656565 !important;
}

.select-auth-box-desc {
  color: #656565 !important;
  font-size: 1rem;
  line-height: 1.3em;
}

#kc-totp-settings {
  font-family: 'League Spartan', sans-serif !important;
  color: #7c7c7c !important;
  font-size: 1rem;
  line-height: 1.3em;
}

#kc-totp-settings p {
  color: #d3d3d3 !important;
}

#kc-try-again {
  background-color: #ff6740 !important;
  border-radius: 4px;
  margin: 0.5rem 0;
  font-family: 'League Spartan', sans-serif !important;
  font-weight: 600;
  font-size: 1rem;

  transition: background 0.1s ease-out;
}

#kc-try-again:hover {
  background-color: #e6613e !important;
}

#kc-totp-secret-key {
  font-family: 'League Spartan', sans-serif !important;
  background-color: #3d3d3d !important;
  padding: 0.5rem 1rem !important;
  border-radius: 4px;
  color: #c7c7c7;
}

.alert-info {
  background-color: #3d3d3d !important;
}

.alert-info span {
  color: #00c9f5 !important;
}

.form-group div {
  color: #e6613e !important;
}

.alert-warning {
  background: #36322f !important;
}

.alert-warning span:not(.fa) {
  color: #d8a731 !important;
  font-family: 'League Spartan', sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.3em !important;
}

.alert-warning span.fa {
  color: #d8a731 !important;
}

#kc-webauthn-authenticator {
  border-color: #ff6740 !important;
}

.pficon {
  color: #a3a4bc !important;
}

#kc-webauthn-authenticator-label {
  color: #a3a4bc !important;
}

#kc-webauthn-authenticator-transport {
  color: #7e7e90 !important;
}

#kc-webauthn-authenticator-created-label {
  color: #7e7e90 !important;
}

#kc-webauthn-authenticator-created {
  color: #7e7e90 !important;
}

#continue {
  color: #dedede !important;
  background-color: #e6613e !important;
  border: none !important;
  background-image: none !important;
  padding: 0.375rem 0.5rem 0.25rem 0.5rem !important;
  border-radius: 4px;
  font-family: 'League Spartan', sans-serif !important;
  font-weight: 600;
  font-size: 1rem !important;
  line-height: 1.3em !important;
}

#continue:hover {
  background-color: #bc553b !important;
}

#kc-content-wrapper p {
  color: #deefef !important;
}

#kc-content-wrapper li {
  color: #adb5b5 !important;
}

@media (max-width: 769px) {
  .login-pf-page {
    width: 90%;
    margin: 0 auto;
  }

  #kc-info {
    width: 100%;
    margin: 0 !important;
  }

  #kc-info-wrapper {
    width: 107%;
    margin: 20px -7% -30px -3.5%;
    padding: 1rem;
  }

  .kc-logo-text {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .login-pf-header {
    margin: 0 !important;
    padding: 1rem 0 0 0 !important;
  }

  #kc-page-title {
    font-size: 1.25rem !important;
  }
}
